<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eden.mapper.TProductMapper" >
  <resultMap id="BaseResultMap" type="com.eden.model.TProduct" >
    <id column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_category" property="productCategory" jdbcType="TINYINT" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="is_self" property="isSelf" jdbcType="BIT" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, product_name, product_category, price, is_self, start_date, end_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_product
    where product_id = #{productId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_product
    where product_id = #{productId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.eden.model.TProduct" >
    insert into t_product (product_id, product_name, product_category, 
      price, is_self, start_date, 
      end_date)
    values (#{productId,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, #{productCategory,jdbcType=TINYINT}, 
      #{price,jdbcType=DOUBLE}, #{isSelf,jdbcType=BIT}, #{startDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.eden.model.TProduct" >
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productCategory != null" >
        product_category,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="isSelf != null" >
        is_self,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCategory != null" >
        #{productCategory,jdbcType=TINYINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="isSelf != null" >
        #{isSelf,jdbcType=BIT},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eden.model.TProduct" >
    update t_product
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCategory != null" >
        product_category = #{productCategory,jdbcType=TINYINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="isSelf != null" >
        is_self = #{isSelf,jdbcType=BIT},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eden.model.TProduct" >
    update t_product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_category = #{productCategory,jdbcType=TINYINT},
      price = #{price,jdbcType=DOUBLE},
      is_self = #{isSelf,jdbcType=BIT},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
</mapper>